@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;

}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;

}

.col-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-3 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
}


.box-1 {
    display: flex;
    width: 507px;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
    height: 246px;
    margin-top: 130px;
}

.box-3 {
    width: 237px;
    height: 292px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 35px 40px;
    gap: 20px;
    box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
    height: 292px;
    margin: 10px;
}

.box-3a {
    width: 237px;
    height: 292px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 35px 40px;
    gap: 20px;
    box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
    height: 292px;
    margin: 10px;
}

.box-4 {
    width: 237px;
    height: 292px;
    gap: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 35px 40px;
    gap: 20px;
    box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
    height: 292px;
}

.line-1 {
    width: 94px;
    height: 7px;
    background: #FC724D;
}

.od-1 {
    color: #252B42;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.2px;
}

.para-1 {
    color: #737373;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
    width: 351px;
    height: 60px
}

.learn {
    color: var(--primary-text-color, #FC724D);

    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;

    letter-spacing: 0.2px;
}

.arrow {
    width: 9px;
    height: 16px;
    margin-left: 10px;
}

.button {
    width: 70px;
    height: 76px;
    display: fle;
    padding: 22px 19px;
    flex-direction: colum;
    align-items: flex-start;
    gap: 10px;
    border-radius: 10px;
    background: #B6D7FF;
}

.or-line {
    width: 50px;
    height: 2px;
    background: var(--danger-color, #E74040);
}

.cancer {
    color: #252B42;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    width: 157px;
    letter-spacing: 0.1px;
}

.online {
    color: #252B42;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    width: 157px;
    letter-spacing: 0.1px;
}

.book {
    color: #252B42;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    width: 157px;
    letter-spacing: 0.1px;
}

.para-2 {
    color: #737373;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
}

.ml-10 {
    margin-top: 185px;
}

.pd-1 {
    padding-right: 60px;
}