@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    height: 100vh;
    display: flex;
    align-items: center
}

.fg-1 {
    flex-grow: 1;
}

.w-100 {
    width: 100%;

}



.pb-40 {}

.gap-10 {
    gap: 10px;
}

.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justi-center {
    justify-content: center;

}


.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;

}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;

}

.col-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-3 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
}


h2 {
    font-family: 'Montserrat', sans-serif;
    color: #252B42;
    font-size: 40px;
    font-weight: 700;
    text-align: left;
    padding-top: 35px;
    padding-bottom: 35px;
}

.problems {
    color: #737373;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    max-width: 351px;
    padding-bottom: 35px;
}

.learn {
    color: #FC724D;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-align: left;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #B6D7FF;
    padding: 22px 19px 22px 19px;
    max-width: 70px;
    border-radius: 10px;
}

h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
}

.info {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    max-width: 132px;
    padding-top: 20px;
}
.online{
    max-width: 157px;
}

.box-2 {
    max-width: 100%;
    box-shadow: 0px 13px 19px 0px #00000012;
    padding: 35px 30px 35px 40px;
}
.box-3 {
    max-width: 100%;
    box-shadow: 0px 13px 19px 0px #00000012;
    padding: 35px 30px 35px 40px;
}
.box-4 {
    max-width: 100%;
    box-shadow: 0px 13px 19px 0px #00000012;
    padding: 35px 30px 35px 40px;
}

@media (max-width:992px) {
    .col-12-lg {
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .box {
        margin-top: 20px;
    }

    .info {
        max-width: 100%;
    }

    .box-2 {
        margin-top: 25px
    }

    section {
        height: auto;
    }
}

@media (max-width:576px) {
    .col-12-sm {
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
    }

    section {
        height: auto;
    }

    .box-4 {
        margin-bottom: 20px;
    }
}